
header{
    padding: 15px;
    background: #9BDBF2;
    /*
    background-image: url("..\images\flywheel.jpg);
    */
    background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg"); /* How use a downloaded image? */
}

nav{
    display: inline-block;
    width: 50%%;
    margin: 0 auto;
}

nav >a{
  
    padding: 5px;
    margin: 50px;
    background: #ffffff;
    text-decoration: none;
    opacity: .5;
    border-radius: 5px;
    
}
.active{
    opacity: 1.0;
}


nav >a:hover{
    opacity: 1.0;
}

h1 {
    text-align:center;
    text-transform: uppercase;
    font-size: medium;
    color:#ffffff;
}

h2{
color: #000;
}



a{
    color:#000;
    background-color: #9BDBF2;
}

.left img{
    display: block;
    width: 200px;
    margin: 25px auto 25px auto;
    border: solid 3px #000;    
}
.left {
    float: left;
    background: #690C0C;
    width: 28%;
    height:500px;
}
.right {
    float: right;

    width: 70%;
    
}

main{
    display: inline;
   
}